# markdown
## markdown

### insert a image
![text](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)

### insert a site
https://www.pexels.com/photo/beautiful-beauty-blue-bright-414612/

### "bold and single" italic text
**gitam**<br>

In [3]:
# variable creation
a=10.05
b=-2003.6
a+b

-1993.55

In [4]:
name ="gitam"
print("university:"+name)

university:gitam

In [7]:
name = input("enter a name")
age = int(input("enter age"))
print("my name is",name,"and my age is:",age)

enter a namel
enter age20
my name is l and my age is: 20

In [14]:
a=int(input ("enter value"))
b=int(input ("enter value"))
c=a+b
d=a*b
e=a-b
f=a/b
print("the operations are",c,d,e,f)

enter value2
enter value6
the operations are 8 12 -4 0.3333333333333333

In [15]:
a=2
b=0.6
c=2+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [16]:
c=complex(3,-5)
print(c)

(3-5j)

In [17]:
c1=3-6j
c2=2+8j
print(c1+c2,c1-c2,c1*c2)

(5+2j) (1-14j) (54+12j)

In [18]:
a=3
b=6
a>b

False

In [19]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [23]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.6
print(type(f))
b=int(f)
print(type(b))
print(a)
print(b)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
100
1

In [27]:
s=1234
print(len(str(s)))

4

In [28]:
#Arithematic operators
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

33
-9
252
0.5714285714285714
12
0
46005119909369701466112

In [29]:
#Relational operators
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [36]:
#Logical operators
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

# Problem on relational operators
## Take two integer numbers and do the following operations
### >,<,==,!=,<=,>=

In [42]:
n1=10
n2=20
print(n1>n2)
print(n1<n2)
print(n1==n2)
print(n1!=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True
True
False

# Membership operators

In [43]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(7 not in f)

True
False
True

## Conditional statements
1. if
2. else
3. elif
## Syntax
#### if condition:
> statements<br>
### else:
> statements

In [48]:
#Even or odd
n=int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number36
even

In [50]:
# Multiple of 3 and 5
n=int(input("enter the number"))
if n%3==0 and n%5==0:
    print("multiple of 3 and 5")
else:
    print ("not a multiple")

enter the number33
not a multiple

In [56]:
# no. is positive, negative or zero
n=int(input("enter the number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print ("zero")

enter the number24
positive

In [58]:
# leap year or not
n=int(input("enter the number"))
if n%4==0:
    print("leap year")
else:
    print ("not a leap year")

enter the number1999
not a leap year

In [3]:
# print no. from 1 to n
n=int(input("enter the number"))
i=1
while i<=n:
    print(i,end="")
    i=i+1

enter the number20
1234567891011121314151617181920

In [ ]:
n=int(input("enter the number"))
i=1
s=0
while i<=n:
    if i%2==0:
        s=s+i
        i=i+1
        print(s)