### Functional programming
1. Simple
2. Easy to understand
3. Better reuseability
4. Length of program is divided into sub programs

def name of function(<parameters>):
    statements
    return

In [13]:
# Read a number
#print even digit sum from the number
def evendigitsum(n) :
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
           s=s+r
        n=n//10
    return s
evendigitsum(1234)

6

In [16]:
#define return function
def square(x):
    print(x*x)
print(square(5))

25
None

In [18]:
def square(x):
    print(x*x)
square(5)

25

In [20]:
def cube(a):
    print(a*a*a)
cube(6)

216

In [21]:
def multiply(x,y=0):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [38]:
def mul():
    a=int(input("enter"))
    b=int(input("enter"))
    c=a*b
    print("c",str(c))
mul()

enter2
enter6
c 12

In [34]:
#swap
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x,y
    swap(x,y)
swap(5,8)

(8, 5)

In [37]:
#largest digit of given no.
def largedigit(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large
largedigit(19635)

9

## For loop
#### syntax 1:
for i in range(strat,stop,step):
>statements
#### syntax 2:
for i in Iterableobject:
>statements

In [53]:
# To print the no. btw two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x, end= ' ' )
    return
printseries(1,20)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

## Data structures
1. List
2. Dictionary
3. Set
4. Tupil

In [69]:
li=[1,8,4,36,10]
print(li)
print(li[0])
print(li[2])
print(li[4])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1])
print(li[-2])
li

[1, 8, 4, 36, 10]
1
4
10
1
[8, 4, 36, 10]
[8, 4, 36]
[8, 4, 36]
36

[1, 8, 4, 36, 10]

In [71]:
#Update list
li=['gitam',1234,'hyd']
print(li)
li[1]=456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [72]:
#Delete a value from list
li=['gitam',1234,2017,4527,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2017, 4527, 'hyd']
['gitam', 1234, 2017, 'hyd']

In [73]:
# Basic operations on list
li=[1,5,6,3,9]
#length of string
len(li)

5