In [1]:
#Basic list functions
li=[1,3,4,96]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

96
1
104
26

In [55]:
li=[1,9,45,7]
li.append(5)
li                   #add new items at end

[1, 9, 45, 7, 5]

In [19]:
# Method of list object
li=[1,9,16,56,25,5,9]
li.pop(3)

56

In [50]:
li=[1,2,45,7]
li.pop(2)                         #deleting the item at that index
li

[1, 2, 7]

In [51]:
li1=[1,6,45,7]                  # adds previous list value to the present list
li.extend(li1)
li

[1, 2, 7, 1, 6, 45, 7]

In [30]:
li1=[1,6,19,25]
li1.reverse()                      # reversing
li1

[25, 19, 6, 1]

In [47]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,25,6,9,45,22]
print(largenumber(li))
print(genericlarge(li,3))

45
22

In [68]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

In [53]:
# sort
li=[1,55,8,65]
li.sort()            #ascending order
li

[1, 8, 55, 65]

In [56]:
li=[1,5,9,34]
li.insert(2,8)    #inserting a number at index value
li

[1, 5, 8, 9, 34]

In [65]:
li=[1,3,65,79,65]
li.count(65)     #return the value how much value reported

2

In [63]:
li=[1,3,65,79]
li.index(65)    #return the value at that index

2

## Tuples 
-parenthesis() ---> tuple and square brackets[] ---> list
### diff btw list and tuples
     - list are mutable - can be changed or modified
     - used to access and modify,add,delete dadta
     - tuples are immutable - cannot be changed
     - used to access data only

In [75]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

### Dictionaries
1. it works on the concept of set unique data
2. keys,values is the unique identifier for the value
3. each key is seperated from its values with colon(:)
4. each key and value is seperated by coma(,)
5. dictionaries enhanced with curly brackets({})

In [79]:
d1={"name":"gitam","email-id":"gitam@gmail.com","address":"hyd"}
d1

{'name': 'gitam', 'email-id': 'gitam@gmail.com', 'address': 'hyd'}

In [77]:
d1["name"]                    # access the specific key

'gitam'

In [80]:
d1={"name":"gitam","email-id":"gitam@gmail.com","address":"hyd"}
d1["email-id"]="gitampython@gmail.com"           # update the data
d1

{'name': 'gitam', 'email-id': 'gitampython@gmail.com', 'address': 'hyd'}

In [81]:
d1["email-id"]

'gitampython@gmail.com'

In [82]:
d1["course"]="python"  #adding an entry
d1

{'name': 'gitam',
 'email-id': 'gitampython@gmail.com',
 'address': 'hyd',
 'course': 'python'}

In [7]:
del d1["email-id"]

NameError: name 'd1' is not defined

In [96]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [90]:
d1.values()

dict_values(['gitam', 'hyd', 'python'])

In [97]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyd'), ('course', 'python')])

## Strings
-strings
-string slicings
-fundamental programming with string in python

In [8]:
s1='Python'
print(s1)
print(type(s1))

Python
<class 'str'>

In [13]:
s1='Python'
print(s1[0])
print(s1[1])
print(s1[5])
print(s1[len(s1)-1])

P
y
n
n

In [14]:
print(s1[-1])
print(s1[-4])
print(s1[0:2])
print(s1[:2])
print(s1[-1:])
print(s1[-3:])
print(s1[2:])

n
t
Py
Py
n
hon
thon

In [34]:
print(s1[1:-1])               #except first and last
print(s1[len(s1)//2])       
print(s1[1::3])              
print(s1[-1::-1])  # reverse of the string
print(s1[::-1])
print(s1[-1:-3:-1])           # access the last two orders in reverse order
print(s1[::2])
print(s1[::3])
print(s1[::-2])

ytho
h
yo
nohtyP
nohtyP
no
Pto
Ph
nhy

In [24]:
# Reversing the string
def reversestring(str):
    return str[-1::-1]
reversestring("programming")

'gnimmargorp'

In [25]:
# Palindrome
def ispalindrome(str):
    if str==str[::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("python"))
print(ispalindrome("ganag"))

False
True

## String Built-in methods

In [36]:
s1="python"
print(s1.islower())
print(s1.isupper())

True
False

In [39]:
s2="Python"
print(s2.istitle())

True

In [40]:
s3="py123"
s4="12345"
print(s3.isnumeric())
print(s4.isnumeric())

False
True

In [44]:
s1="Python"
print(" ".join(s1))

P y t h o n

In [52]:
s3="python programming easy to learn"
print(",".join(s3))

p,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [56]:
li=["python","easy"]
print(":".join(li))

python:easy

In [57]:
s1="python programming easy to learn"
print(s1.split())

['python', 'programming', 'easy', 'to', 'learn']

In [58]:
s2="python programming easy to learn"
print(s2.split('a'))

['python progr', 'mming e', 'sy to le', 'rn']

In [59]:
s3="python programming easy to learn"
print(len(s3))
li=s3.split()
print(li)
print(len(li))

32
['python', 'programming', 'easy', 'to', 'learn']
5

In [60]:
s3="python programming easy to learn"
li=list(s3)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [61]:
s3="python programming easy to learn"
print(s3.replace("gra","application"))

python proapplicationmming easy to learn